 .main-header {
    display: flex;
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 10px;
    background-color:#28353c;
    color: white;
    font-family:"Gill Sans Extrabold", sans-serif;
  }
  
  /* Creates style on images and paragraph */
  .images {
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    background: #13293d;
    color: white;

  }

/* Makes header Aaron's Portfolio larger */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This is lines About me, Github, and Contact me */
header nav {
    padding-top: 25px;
    float: inline-start;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 20px;
}

/* Lines About me, Github, and Contact me in a inline (straight) */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Gives links font their color */
a {
    color: white;
}

/* Aligns all images to the left and text to the right of image*/
.float-left {
    float: left;
    margin-right: 20px;
    
}

/* reduces width of articles to 80% of page */
article {
    width: 80%;
    display: inline-block

}

/* creates articles areas size to fit in images and description */
article section {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 50px;
    height: 300px;
    font-family: "Gill Sans Extrabold", sans-serif;
}


/* increase font size on h2 text */
article section h2 {
    margin-bottom: 60px;
    font-size: 40px;
    ;
}

/* size of paragraph text */
p {
    font-size: 18px;

}

/* size of images in article section */
article section img {
    max-height: 300px;

}


footer {
    color: black;
    padding: 20px;
    font-family: "Gill Sans Extrabold", sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
  