* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* background color */
body {
    background-color: #d9dcd6;
}

/* Gives the header color and font-style */
header {
    padding: 20px;
    font-family:"Gill Sans Extrabold", sans-serif;
    background-color: #28353c;
    color: #ffffff;
}


/* Makes header Aaron's Portfolio larger */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This is lines About me, Github, and Contact me */
header nav {
    padding-top: 25px;
    float: inline-start;
    font-family: "Gill Sans Extrabold", sans-serif;
    font-size: 20px;
}

/* Lines About me, Github, and Contact me in a inline (straight) */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Gives About me, Github, and Contact me its color */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Gives paragraphs their font color */
p {
    color: white;
    font-size: 16px;
}

/* Aligns About me photo */
.float-left {
    float: left;
    margin-right: 25px;
}

.float-left-1 {
    float: left;
    margin-right: 25px;

}

.float-left-2 {
    float: left;
    margin-right: 25px;
}


article {
    width: 100%;
    display: inline-block;
    

}




article section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: "Gill Sans Extrabold", sans-serif;
    background-color: lightslategray;
    color: #ffffff;
}




article section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}





article section img {
    max-height: 200px;

}



footer {
    padding: 30px;
    clear: both;
    font-family: "Gill Sans Extrabold", sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

